<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.ats.ws.repository.mapper.LiveRoomMapper">

    <resultMap id="liveRoomResultMap" type="ATSLiveRoom">
        <id property="roomId"                       	column="room_id" />
        <result property="userId"             			column="user_id" />
        <result property="typeCode"             		column="type_code"/>
        <result property="statusCode"             		column="status_code"/>
        <result property="thumnailUrl"               	column="thumnail_url" />
        <result property="regDt"             			column="reg_dt" />
    </resultMap>
    
    <resultMap id="webrtcServerResultMap" type="ATSWebrtcServer">
        <id property="serverId"                       	column="server_id" />
        <result property="serverName"             		column="server_name" />
        <result property="maxUsers"             		column="max_users" />
        <result property="activationFlag"             	column="activation_flag" />
        <result property="comment"             			column="comment" />
        <result property="priority"             		column="priority" />
        <result property="webrtcUrl"             		column="webrtc_url"/>
        <result property="regDt"             			column="reg_dt" />
        <result property="modDt"             			column="mod_dt" />
    </resultMap>
    
    <resultMap id="giftsResultMap" type="ATSLiveGiftBas">
        <id property="giftIdx"                       	column="gift_idx" />
        <result property="pointName"             		column="point_name" />
        <result property="pointType"             		column="point_type" />
        <result property="pointPrice"             		column="point_price" />
        <result property="pointPriceUnit"             	column="point_price_unit" />
        <result property="iconDomain"             		column="icon_domain" />
        <result property="iconUrl"             			column="icon_url"/>
        <result property="saleQty"             			column="sale_qty"/>
        <result property="regId"             			column="reg_id" />
        <result property="regDt"             			column="reg_dt" />
    </resultMap>


    <select id="selectLiveRoomList" resultMap="liveRoomResultMap">
        SELECT room_id,
			   user_id,
			   type_code,
			   status_code,
			   thumnail_url,
			   reg_dt
		FROM   ats_live_room
    </select>
    
    <select id="selectLiveRoom" parameterType="java.util.HashMap" resultMap="liveRoomResultMap">
        SELECT room_id,
			   user_id,
			   type_code,
			   status_code,
			   thumnail_url,
			   reg_dt
		FROM   ats_live_room
		WHERE  1 = 1
		<if test="roomId!=null ">
		AND    room_id = #{roomId}
		</if>
        <if test="userId!=null ">
		AND    user_id = #{userId}
		</if>
    </select>
    
    
    <insert id="patchLiveRoom" parameterType="ATSLiveRoomPatch">
		UPDATE ats_live_room
		<set>
	      <if test="typeCode != null">
	           type_code = #{typeCode},
	      </if>
	      <if test="statusCode != null">
	           status_code = #{statusCode},
	      </if>
	      <if test="thumnailUrl != null">
	           "thumnail_url != null" = #{"thumnailUrl != null"},
	      </if>
	    </set>
        where  room_id = #{roomId}
    </insert>
    
    <select id="selectWebrtcServer" resultMap="liveRoomResultMap">
        SELECT server_id,
			   server_name,
			   max_users,
			   activation_flag,
			   comment,
			   priority,
			   webrtc_url,
			   reg_dt,
			   mod_dt
		FROM   ats_webrtc_server
		WHERE  1 = 1
		<if test="roomId!=null and roomId!=0">
		AND    server_id = (SELECT server_id
							FROM   ats_server_room
							WHERE  room_id = #{roomId}
						   )
		</if>
		<if test="roomId!=null and roomId==0">
		AND    server_id = (SELECT min_joined.server_id
							FROM (SELECT server_id,
										 SUM(joined_count) joined_count
								  FROM   ats_server_room
								  GROUP BY server_id
								  ORDER BY joined_count
								  LIMIT 1
								 ) min_joined
						   )
		</if>
    </select>
    
    
    <insert id="insertServerRoom" parameterType="ATSServerRoom">
		INSERT INTO ats_server_room 
        (
        	room_id,
		    server_id,
		    reg_dt
        )
        VALUES 
        (
            #{roomId},
            #{serverId},
            NOW()
        )
        ON DUPLICATE KEY UPDATE room_id=#{roomId}, server_id=#{serverId}
    </insert>
    
    
    <insert id="insertLiveRoomUserHst" parameterType="ATSServerRoom">
		INSERT INTO ats_live_room_user_hst 
        (
        	room_user_history_id,
		    room_id,
		    user_id,
		    type_code,
		    reg_dt
        )
        VALUES 
        (
            #{roomUserHistoryId},
            #{roomId},
        	#{userId},
        	#{typeCode},
            NOW()
        )
    </insert>
    
    <select id="selectGiftList" parameterType="java.util.HashMap" resultMap="giftsResultMap">
        SELECT gift_idx,
    		   point_name,
    		   point_type,
    		   point_price,
    		   point_price_unit,
    		   icon_domain,
    		   icon_url,
    		   sale_qty,
    		   reg_id,
    		   reg_dt
		FROM   live_gift_bas
		ORDER  BY point_price
    </select>
    	
    
    
    
    
</mapper>
