<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.ats.ws.repository.mapper.UserMapper">
    <resultMap id="userResultMap" type="ATSUser">
        <id property="userId"                       column="user_id" />
        <result property="password"             	column="pwd" />
        <result property="nickName"                 column="nick_name" />
        <result property="cntryCode"                column="cntry_code" />
        <result property="phoneNo"             		column="phone_no" />
        <result property="type"                 	column="user_type" />
        <result property="statusCode"               column="status_code" />
        <result property="pointAmt"                 column="point_amt" />
        <result property="regDt"      				column="reg_dt" />
        <result property="modDt"      				column="mod_dt" />
    </resultMap>
    
    <resultMap id="userDetailResultMap" type="ATSUserDetail">
        <id property="userId"                       column="user_id" />
        <result property="uploadUserIconDomain"     column="upload_user_icon_domain" />
        <result property="uploadUserIcon"           column="upload_user_icon" />
        <result property="userDesc"                 column="user_desc" />
        <result property="userStatus"               column="user_status" />
        <result property="uploadUserFans"           column="upload_user_fans" />
        <result property="collectionCnt"            column="collection_cnt" />
        <result property="followerCnt"              column="follower_cnt" />
        <result property="pointAmt"                column="point_amt" />
        <result property="uploaderInviteCode"       column="uploader_invite_code" />
        <result property="gender"             		column="gender" />
        <result property="age"             			column="age" />
        <result property="career"             		column="career" />
        <result property="marriage"             	column="marriage" />
        <result property="selectLang"             	column="select_lang" />
        <result property="regId"                 	column="reg_id" />
        <result property="regDt"               		column="reg_dt" />
        <result property="modId"      				column="mod_id" />
        <result property="modDt"      				column="mod_dt" />
    </resultMap>
    
    <resultMap id="followerResultMap" type="ATSFollower">
        <id property="userId"                       column="user_id" />
        <result property="nickName"                 column="nick_name" />
        <result property="cntryCode"                column="cntry_code" />
        <result property="phoneNo"             		column="phone_no" />
        <result property="userType"                 column="user_type" />
        <result property="statusCode"               column="status_code" />
        <result property="relType"               	column="rel_type" />
        <result property="relDt"               		column="rel_dt" />
        <result property="regDt"      				column="reg_dt" />
        <result property="modDt"      				column="mod_dt" />
    </resultMap>


    <select id="selectUser" parameterType="long" resultMap="userResultMap">
        SELECT bas.user_id,
        	   bas.pwd,
        	   bas.nick_name,
        	   bas.cntry_code,
       	       bas.phone_no,
               bas.user_type,
               bas.status_code,
               dtl.point_amt,
               bas.reg_dt,
               bas.mod_dt
        FROM   user_bas bas,
        	   user_dtl dtl
        WHERE  bas.user_id = #{userId}
        AND	   bas.user_id = dtl.user_id
    </select>
    
    
    <select id="selectUserDetail" parameterType="long" resultMap="userDetailResultMap">
        SELECT user_id,
			   upload_user_icon_domain,
			   upload_user_icon,
			   user_desc,
			   user_status,
			   upload_user_fans,
			   collection_cnt,
			   follower_cnt,
			   point_amt,
			   uploader_invite_code,
			   gender,
			   age,
			   career,
			   marriage,
			   select_lang,
			   reg_id,
			   reg_dt,
			   mod_id,
			   mod_dt
        FROM   user_dtl
        WHERE  user_id = #{userId}
    </select>

    <select id="selectUserByPhoneNo" parameterType="String" resultMap="userResultMap">
        SELECT user_id,
        	   pwd,
        	   nick_name,
        	   cntry_code,
       	       phone_no,
               user_type,
               status_code,
               reg_dt,
               mod_dt
        FROM   user_bas
        WHERE  CONCAT(cntry_code,phone_no) = #{phoneNo}
    </select>
    

    <select id="selectUsersWhereType" parameterType="java.util.HashMap" resultMap="userResultMap">
        SELECT user_id,
        	   pwd,
        	   nick_name,
        	   cntry_code,
       	       phone_no,
               user_type,
               status_code,
               reg_dt,
               mod_dt
        FROM   user_bas
        WHERE  1 = 1
        <if test="type!=null and !type.equals('')">
		AND    user_type = #{type}
		</if>
        <if test="statusCode!=null and !statusCode.equals('')">
		AND    status_code = #{statusCode}
		</if>
        ORDER BY reg_dt DESC
    </select>
    
    
    <select id="selectUserList" resultMap="userResultMap">
        SELECT user_id,
        	   pwd,
        	   nick_name,
        	   cntry_code,
       	       phone_no,
               user_type,
               status_code,
               reg_dt,
               mod_dt
        FROM   user_bas
        WHERE  user_type = #{type}
        ORDER BY reg_dt DESC
        <if test="pageSize!=null and pageSize!=0">
		LIMIT  #{pageSize} 
		</if>
		<if test="pageNo!=null and pageNo!=0">
        OFFSET #{pageNo}
		</if>
    </select>
    
    
    <select id="selectUserTotalCount" resultType="int">
        SELECT COUNT(1)
        FROM   user_bas
        WHERE  user_type = #{type}
    </select>
    
    

    <insert id="insertUser" parameterType="ATSUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user_bas 
        (
        	user_id,
       	    pwd,
       	    nick_name,
       	    cntry_code,
    	    phone_no,
            user_type,
            status_code,
            reg_dt,
            mod_dt
        )
        VALUES 
        (
            #{userId},
            #{password},
            #{nickName},
            #{cntryCode},
            #{phoneNo},
            #{type},
            #{statusCode},
            NOW(),
            NOW()
        )
    </insert>
    
    <insert id="insertUserDtl" parameterType="ATSUser" >
        INSERT INTO user_dtl 
        (
        	user_id,
       	    point_amt,
       	    reg_id,
       	    reg_dt,
    	    mod_id,
            mod_dt
        )
        VALUES 
        (
            #{userId},
            0,
            #{userId},
            NOW(),
            #{userId},
            NOW()
        )
    </insert>
    
    
    <update id="updateUserTypeAnchor" parameterType="ATSUser" >
    	UPDATE user_bas
    	SET	   user_type = #{type},
    		   status_code = #{statusCode}
    		   mod_dt = NOW()
		WHERE  user_id = #{userId}
    </update>
    
    
    <select id="selectFollowerList" resultMap="followerResultMap">
        SELECT bas.user_id,
			   bas.nick_name,
			   bas.cntry_code,
		       bas.phone_no,
		       bas.user_type,
		       bas.status_code,
		       rel.rel_type,
		       rel.rel_dt,
		       bas.reg_dt,
		       bas.mod_dt
		FROM   user_bas bas,
			   user_rel rel
		WHERE  bas.user_id = rel.rel_id
    </select>
    
    
    <select id="selectFollowingList" resultMap="followerResultMap">
        SELECT bas.user_id,
			   bas.nick_name,
			   bas.cntry_code,
		       bas.phone_no,
		       bas.user_type,
		       bas.status_code,
		       rel.rel_type,
		       rel.rel_dt,
		       bas.reg_dt,
		       bas.mod_dt
		FROM   user_bas bas,
			   user_rel rel
		WHERE  bas.user_id = rel.user_id
    </select>
    
    
    <insert id="insertFollowing" parameterType="ATSUserRel" useGeneratedKeys="true" keyProperty="followIdx">
        INSERT INTO user_rel 
        (
        	follow_idx,
       	    user_id,
       	    rel_id,
       	    rel_type,
    	    rel_dt
        )
        VALUES 
        (
            #{followIdx},
            #{relId},
            #{relId},
            #{relType},
            NOW()
        )
    </insert>

    
    <delete id="deleteFollowing" parameterType="int" >
    	DELETE
		FROM   user_rel
		WHERE  follow_idx = #{followIdx}
    </delete>
    
    
    <update id="decreaseUserPoint" >
    	UPDATE user_dtl
    	SET	   point_amt = point_amt - #{point}
		WHERE  user_id = #{userId}
    </update>
    
    <update id="increaseUserPoint" >
    	UPDATE user_dtl
    	SET	   point_amt = point_amt + #{point}
		WHERE  user_id = #{userId}
    </update>
    
</mapper>
